.App {
  text-align: left;
}

.Header{
	font-size: 36px;
	width: 50%;
}

.inputField{
	height: 20px;
	width: 20%;
	font-size: 12pt;
	border-radius: 10px;
}

.button{
	height: 50px;
	width: 10%;
	text-align: center;
}
